In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\Arpit Patel\Desktop\Data Science Program\India_census_viz_project\archive (6)\india-districts-census-2011.csv")

In [5]:
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [11]:
for i in df.columns:
    print(i)

District code
State name
District name
Population
Male
Female
Literate
Male_Literate
Female_Literate
SC
Male_SC
Female_SC
ST
Male_ST
Female_ST
Workers
Male_Workers
Female_Workers
Main_Workers
Marginal_Workers
Non_Workers
Cultivator_Workers
Agricultural_Workers
Household_Workers
Other_Workers
Hindus
Muslims
Christians
Sikhs
Buddhists
Jains
Others_Religions
Religion_Not_Stated
LPG_or_PNG_Households
Housholds_with_Electric_Lighting
Households_with_Internet
Households_with_Computer
Rural_Households
Urban_Households
Households
Below_Primary_Education
Primary_Education
Middle_Education
Secondary_Education
Higher_Education
Graduate_Education
Other_Education
Literate_Education
Illiterate_Education
Total_Education
Age_Group_0_29
Age_Group_30_49
Age_Group_50
Age not stated
Households_with_Bicycle
Households_with_Car_Jeep_Van
Households_with_Radio_Transistor
Households_with_Scooter_Motorcycle_Moped
Households_with_Telephone_Mobile_Phone_Landline_only
Households_with_Telephone_Mobile_Phone_Mobile_only
Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car
Households_with_Television
Households_with_Telephone_Mobile_Phone
Households_with_Telephone_Mobile_Phone_Both
Condition_of_occupied_census_houses_Dilapidated_Households
Households_with_separate_kitchen_Cooking_inside_house
Having_bathing_facility_Total_Households
Having_latrine_facility_within_the_premises_Total_Households
Ownership_Owned_Households
Ownership_Rented_Households
Type_of_bathing_facility_Enclosure_without_roof_Households
Type_of_fuel_used_for_cooking_Any_other_Households
Type_of_latrine_facility_Pit_latrine_Households
Type_of_latrine_facility_Other_latrine_Households
Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households
Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households
Not_having_bathing_facility_within_the_premises_Total_Households
Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households
Main_source_of_drinking_water_Un_covered_well_Households
Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households
Main_source_of_drinking_water_Spring_Households
Main_source_of_drinking_water_River_Canal_Households
Main_source_of_drinking_water_Other_sources_Households
Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households
Location_of_drinking_water_source_Near_the_premises_Households
Location_of_drinking_water_source_Within_the_premises_Households
Main_source_of_drinking_water_Tank_Pond_Lake_Households
Main_source_of_drinking_water_Tapwater_Households
Main_source_of_drinking_water_Tubewell_Borehole_Households
Household_size_1_person_Households
Household_size_2_persons_Households
Household_size_1_to_2_persons
Household_size_3_persons_Households
Household_size_3_to_5_persons_Households
Household_size_4_persons_Households
Household_size_5_persons_Households
Household_size_6_8_persons_Households
Household_size_9_persons_and_above_Households
Location_of_drinking_water_source_Away_Households
Married_couples_1_Households
Married_couples_2_Households
Married_couples_3_Households
Married_couples_3_or_more_Households
Married_couples_4_Households
Married_couples_5__Households
Married_couples_None_Households
Power_Parity_Less_than_Rs_45000
Power_Parity_Rs_45000_90000
Power_Parity_Rs_90000_150000
Power_Parity_Rs_45000_150000
Power_Parity_Rs_150000_240000
Power_Parity_Rs_240000_330000
Power_Parity_Rs_150000_330000
Power_Parity_Rs_330000_425000
Power_Parity_Rs_425000_545000
Power_Parity_Rs_330000_545000
Power_Parity_Above_Rs_545000
Total_Power_Parity